<launch>

  <!-- webserver needs to be up for server interactions -->
  <include file="$(find bwi_web)/launch/webserver.launch" />

  <!-- load the server -->
  <node name="server" pkg="bwi_exp1" type="server.py" output="screen">
    <param name="script" value="h_experiment.launch" />
  </node>

</launch>
