<launch>
  <arg name="map_file" default="$(find utexas_gdc)/maps/3ne.yaml" />
  <arg name="door_file" default="$(find clingo_interface)/config/doors.yaml" />
  <arg name="locations_file" default="$(find clingo_interface)/config/locations.yaml" />
  <node name="door_detector" type="test_door_detector" pkg="clingo_interface">
    <rosparam file="$(find clingo_interface)/config/costmap.yaml" command="load" />
    <param name="map_file" value="$(arg map_file)" />
    <param name="door_file" value="$(arg door_file)" />
    <param name="locations_file" value="$(arg locations_file)" />
  </node>
</launch>
