<launch>

  <include file="$(find utexas_gdc)/launch/3ne.launch" />
  <include file="$(find utexas_gdc)/launch/3ne_map.launch" />

  <include file="$(find segbot_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="launch_localization" value="true" />
    <arg name="use_fake_localization" value="true" />
    <arg name="launch_move_base" value="true" />
    <arg name="use_full_gazebo_model" value="false" />
    <arg name="x" value="22" />
    <arg name="y" value="11.5" />
  </include>

  <include file="$(find segbot_navigation)/launch/rviz.launch">
    <arg name="config" value="nav_eband" />
  </include>

</launch>
