<launch>

  <!-- launch the experiment controller node -->
  <node name="experiment_controller" pkg="bwi_exp1" type="experiment.py">
    <param name="graph_file" value="$(find bwi_exp1)/config/graph.yaml" />
    <param name="experiment_file" value="$(find bwi_exp1)/config/experiment.yaml" />
  </node>

</launch>
