<launch>

  <arg name="map_file_1" default="$(find bwi_guidance)/maps/map3.yaml" />
  <arg name="graph_file_1" default="$(find bwi_guidance)/maps/graph_map3.yaml" />
  <node name="generate_graph_1" pkg="bwi_mapper" type="generate_graph"
    args="$(arg map_file_1) $(arg graph_file_1)" />

  <arg name="map_file_2" default="$(find bwi_guidance)/maps/map1.yaml" />
  <arg name="graph_file_2" default="$(find bwi_guidance)/maps/graph_map1.yaml" />
  <node name="generate_graph_2" pkg="bwi_mapper" type="generate_graph"
    args="$(arg map_file_2) $(arg graph_file_2)" />

  <arg name="map_file_3" default="$(find bwi_guidance)/maps/map2.yaml" />
  <arg name="graph_file_3" default="$(find bwi_guidance)/maps/graph_map2.yaml" />
  <node name="generate_graph_3" pkg="bwi_mapper" type="generate_graph"
    args="$(arg map_file_3) $(arg graph_file_3)" />

</launch>
