<launch>
  <arg name="map_file" default="$(find bwi_guidance)/maps/map2.yaml" />
  <arg name="graph_file" default="$(find bwi_guidance)/maps/graph_map2.yaml" />
  <arg name="data_dir" default="$(find bwi_guidance_solver)/data/exp1/map2/" />
  <node name="evaluate" pkg="bwi_guidance_solver" type="evaluate"  output="screen"
    args="--map-file $(arg map_file) --graph-file $(arg graph_file) -D $(arg data_dir) -a --num-instances 1000" />
</launch>
