<launch>
  <arg name="map_file" default="$(find bwi_mapper)/maps/graph.yaml" />
  <arg name="graph_file" default="$(find bwi_mapper)/graph.yaml" />
  <arg name="data_dir" default="$(find bwi_guidance_solver)/data/exp1/graph/" />
  <node name="evaluate" pkg="bwi_guidance_solver" type="evaluate"  output="screen"
    args="--map-file $(arg map_file) --graph-file $(arg graph_file) -D $(arg data_dir) -a" />
</launch>
